body {
	margin:0;
	background-color:#ac3b61;
	color:white;
}

textarea, button {
margin:auto;
display:block;
}

p, h2 {
	text-align:center;
}

section {
	top: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
}

textarea, button {
	color:white;
	border: white 1px solid;
	background:none;
}

footer {
	bottom:0;
	position:absolute;
}

#buttons button {
	display: inline-block;
}
