@font-face {
	font-family: 'Lato';
	src: url('Lato-Black.woff2') format('woff2'),
	url('Lato-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'LatoReg';
	src: url('Lato-Regular.woff2') format('woff2'),
	url('Lato-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

body {
    margin: 0;
    background-color: #F5F6FA;
    color: #4B4B51;
}

textarea, button {
    margin: auto;
    display: block;
	color: #4B4B51;
	border: #F5F6FA 3px solid;
}

p, h2 {

    text-align: center;
}
h2{
	font-family: 'Lato', serif;
	text-transform: uppercase;
}

p{
	font-family: 'LatoReg', serif;
}


textarea {
	width: 80%;
}

button {
    background: #4257F1;
    color: #F5F6FA;
    border-radius: 8px;
    padding: 1% 2%;
}

#footer {
    bottom: 0;
    position: absolute;

	background-color:white ;

	width: 100%;
}
#footer ul {
	list-style: none;
	text-align: center;
}

#footer ul li {
	font-size: 0.5em;
	display: inline-block;
}

#buttons {
	text-align: center;
}

#buttons button {
    display: inline-block;
}
#mainholder {
	background-color: white;
	border-radius: 4px;
	top: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	padding: 2%;
	width: 40%;
}

a {
	text-decoration: none;
	color: #4257F1;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
	#mainholder {
		width: 70%;
	}
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
	#mainholder {
		width: 90%;
	}
}

#cat {
	width: 40%;
	margin: auto;
	display: block;
}
